@import "../../../../node_modules/bulma/sass/utilities/_all.sass";

.image-component {
  &.is-compact {
    padding: 12em 1.5em;
  }
  &.is-medium {
    padding: 15em 1.5em;
  }
  &.is-no-padding {
    padding: 0;
  }
  &.is-light-padding {
    padding: 0;
  }
  .notification {
    width: 25%;
    align-self: center;
    padding: 0.5em;
    opacity: 0.8;
    margin: 0 auto;
    @media(max-width: $tablet) {
      width: 50%;
    }
  }
}
