<section class="section image-component has-background-image"
         [class.hero]="isLayoutEdgeToEdge()"
         [class.container]="!isLayoutEdgeToEdge()"
         [style.background-color]="bgColor"
         [style.background-size]="isLayoutContain() ? 'contain' : 'cover'"
         [style.width]="isLayoutEdgeToEdge() ? '100vw' : ''"
         [style.max-width]="isLayoutEdgeToEdge() ? '100vw' : ''"
         [style.padding-top]="padding + 'em'"
         [style.padding-bottom]="padding + 'em'"
         [style.background-position]="backgroundPosition()"
         [style.background-image]="mediaModel ? 'url(' + (mediaUrl | async) + ')' : ''">
  <div *ngIf="shouldShowStatusText()"
       class="notification"
       [class.is-danger]="statusIsFailed()"
       [class.is-success]="statusIsProcessing()"
       [class.is-primary]="statusIsLoading()">
    <app-spinner *ngIf="!statusIsFailed()"></app-spinner>
    <h1 class="has-text-centered">{{statusText}}</h1>
  </div>
</section>
