.navbar-component {
  padding: 0 1em;
  .avatar {
    border-radius: 50%;
  }
}

.message {
  cursor: pointer;
  margin: 0;
  .message-header {
    border-radius: 0;
    p {
      flex: 1;
    }
  }
}
