.page-component-addition {
  padding: 1em 1em 4em 1em;
  &.tile {
    &.is-ancestor {
      margin: 0;
    }
  }
  .button--add {
    border-radius: 50%;
    width: 3em;
    height: 3em;
  }
  .tile {
    cursor: pointer;
  }
  article {
    padding: 0;
  }
  .button--create_component {
    color: rgba(0, 0, 0, 0.65);
    position: relative;
    padding: 2em;
  }
}
