.page-component-addition {
  padding: 1rem 1rem 4rem 1rem;
  overflow: hidden;
  .button--add {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
  }
  .tile {
    cursor: pointer;
  }
  article {
    padding: 0;
  }
  .button--create_component {
    color: rgba(0, 0, 0, 0.65);
    position: relative;
    padding: 2rem;
  }
}
