@import '../../../app/theme/colors.scss';

.site--files {
  .item {
    border-bottom: 1px solid $feather-gray;
    padding: 2rem 0;
    .image {
      background: $light;
    }
  }
  .item-descriptor {
    padding: 1rem;
  }
}
