<div class="site--advanced" *ngIf="site">
  <h1 class="subtitle">
    <strong>Custom Domain</strong>
  </h1>
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <small>
          Use a domain you own to point to this site.
        </small>
      </div>
    </div>
  </nav>
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <div class="field">
          <div class="control has-icons-right">
            <input class="input"
                   type="text"
                   placeholder="example.com"
                   [disabled]="hasCustomDomain()"
                   [(ngModel)]="customDomainName">
            <span class="icon is-small is-right" *ngIf="errorMessage">
              <app-feather-icon icon="alert-triangle"></app-feather-icon>
            </span>
          </div>
        </div>
      </div>
      <div class="level-item">
        <div class="level-item-divider"></div>
        <label class="checkbox">
          <input type="checkbox" [(ngModel)]="isSelfManagedDns">
          Self-managed DNS
        </label>
      </div>
    </div>

    <div class="level-right">
      <div class="level-item">
        <p class="control" *ngIf="customDomainDidChange()">
          <button class="button is-primary is-inverted"
                  (click)="addCustomDomain()"
                  [disabled]="!customDomainName || isLoading"
                  [class.is-loading]="isLoading">
            <span>Save</span>
          </button>
        </p>
        <p class="control" *ngIf="hasCustomDomain()">
          <button class="button is-danger is-inverted"
                  (click)="removeCustomDomain()"
                  [disabled]="isLoading"
                  [class.is-loading]="isLoading">
            <span>Remove</span>
          </button>
        </p>
      </div>
    </div>
  </nav>
  <div class="container" *ngIf="isSelfManagedDns" style="margin-left: 1em;">
    <label class="label">
      <small><strong>Subdomains. Use @ for the root domain</strong></small>
    </label>
    <div class="columns" *ngFor="let mapping of domainMappings; let i = index;">
      <div class="column">
        <input class="input"
               type="text"
               placeholder="www"
               disabled
               [(ngModel)]="domainMappings[i]">
      </div>
      <div class="column">
        <button class="button"
                [disabled]="isLoading"
                (click)="removeDomainMapping(mapping)"
                [class.is-loading]="isLoading">
                <span class="icon">
                  <app-feather-icon icon="minus"></app-feather-icon>
                </span>
        </button>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <input class="input"
               type="text"
               placeholder="www"
               [(ngModel)]="newDomainMapping">
      </div>
      <div class="column">
        <button class="button"
                [disabled]="!newDomainMapping"
                (click)="addNewDomainMapping()"
                [class.is-loading]="isLoading">
          <span class="icon">
            <app-feather-icon icon="plus"></app-feather-icon>
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="section" *ngIf="site && site.customDomain && !isSelfManagedDns">
    <small>
      Add the following name servers to your DNS provider's configuration page:
    </small>
    <p *ngFor="let name of site.customDomain.nameServers">
      <strong>{{name}}</strong>
    </p>
  </div>
  <div class="section" *ngIf="site && site.customDomain && isSelfManagedDns">
    <small>
      Add the following DNS records to your DNS provider's configuration page:
    </small>
    <p *ngFor="let record of site.customDomain.requiredDnsRecords">
      <strong>{{record}}</strong>
    </p>
  </div>
  <div class="section" *ngIf="errorMessage">
    <small>
      The following errors occurred while attempting to add a custom domain:
    </small>
    <p class="has-text-danger">
      <small>{{errorMessage}}</small>
    </p>
  </div>

  <div *ngIf="hasCustomDomain()">
    <hr>
    <h1 class="subtitle">
      <strong>Clear DNS Lookup Cache</strong>
    </h1>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <small>
            Clear the DNS lookup cache. This can be used if you are having trouble connecting to your site through the
            custom site name.
          </small>
        </div>
      </div>
    </nav>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <div class="field">
            <p class="control">
              <button class="button" [class.is-loading]="isLoading" (click)="clearDnsLookupCache()">
                Clear
              </button>
            </p>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
