.component__section {
  .hero-body {
    padding-top: 3em;
    .title {
      white-space: pre-line;
      font-weight: 800;
      letter-spacing: -0.04em;
    }
    .subtitle {
      white-space: pre-line;
      font-weight: 300;
    }
  }
}
