@import '../../../../node_modules/bulma/sass/utilities/_all.sass';

.component__section {
  .hero-body {
    padding-top: 3em;
    .title {
      white-space: pre-line;
      font-weight: 800;
      letter-spacing: -0.04em;
    }
    .subtitle {
      white-space: pre-line;
      font-weight: 300;
    }
  }
  @media(max-width: $tablet) {
    &.hero {
      min-height: 24em;
    }
    .hero-body {
      display: flex;
      justify-content: center;
      flex-direction: column;
      .container {
        margin: unset;
        display: flex;
        align-items: center;
        .columns {
          flex: 1;
        }
      }
    }
  }
}
